*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth
}

body {
    background-color: white;
    text-align: center;
    padding: 3px 10px;
    margin: 0;
    scroll-behavior: smooth;
    font-style: italic;
    font-family: Helvetica, sans-serif;
    font-weight: 700
}

a,
a:hover {
    text-decoration: none
}

p {
    color: #000b65;
    text-shadow: 1px 1px 2px #fff
}

table {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
    margin: 5px 0
}

.dp-topcontainer {
    border: 2px solid #5c3411;
    border-radius: 10px 0 10px 10px;
    margin-bottom: 2px
}

.dp-topcontainer h1 {
    font-size: 16px;
    color: #1a237e;
    padding-bottom: 3px
}

.dp-topcontainer p {
    color: #444;
    font-size: 14px
}

.main_logo {
    background: #fc9;
    padding: 0 10px;
    display: block;
    color: #fff8f8;
    margin-bottom: 3px;
    letter-spacing: 1px;
    font-weight: 700;
    border: 3px solid #5c3411;
    border-radius: .75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, .58, 1), background 150ms cubic-bezier(0, 0, .58, 1)
}

.para__1 {
    margin-bottom: 3px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #5c3411;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%)
}

.para__1.para__1-first {
    flex-direction: inherit;
}

.para__1.para__1-first p {
    color: black;
    display: inline-block;
    font-size: 16px;
}

.para__2 {
    border-width: 3px;
    border: 2px solid #0014e2;
    margin-bottom: 3px;
    border-style: outset;
    border-radius: 10px;
    border: 2px solid #5c3411;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%)
}

.para__2.para__2-first {
    padding: 8px 5px;
}

.para__2.para__2-first h1 {
    font-size: 16px;
    color: #000;
    padding-bottom: 3px;
}

.para__2.para__2-first h2 {
    color: #444;
    font-size: 14px;
}

.para__2 h2 {
    color: #061699;
    text-shadow: 1px 1px 2px #fff
}

.para__3 {
    background: #5c3411;
    border: 2px solid white;
    border-style: outset;
    border-radius: 10px;
    margin-bottom: 3px;
    line-height: 1.4;
    font-size: 14px;
    padding: 4px 10px;
    color: #fff;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%)
}

.para__3 a {
    color: white;
    font-size: 18px;
}

.about-us,
.blue-container,
.cm_patti_l,
.conta,
.disclaimer,
.faq,
.ftr_sm,
.matka-result,
.mrque-div,
.paid-gm,
.pby_us,
.purple_header,
.red_list>div,
.satta-main-result,
.satta-text,
.slash-text {
    color: #000;
    text-align: center;
    margin-bottom: 4px;
    margin-top: -2px;
    display: block;
    font-size: 20px;
    outline: 4px #fff;
    outline-offset: -9px;
    border: 2px solid #5c3411;
    border-style: outset;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%)
}

.cm_patti_l {
    border-color: #006400
}

.cm_patti_l .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex
}

.cm_patti_l .row>div {
    width: 50%
}

.cm_patti_l h4 {
    font-size: 24px;
    color: #001699;
    text-shadow: 1px 1px 2px #fff
}

.cm_patti_l p {
    font-size: 22px;
    text-shadow: none
}

.cm_patti_l .bb55 {
    border-left: 1px solid #000ff4
}

.a_27_title,
.banner,
.cm_patti_l h3,
.fg-cont h4,
.matka-result h4,
.my-table.mumraj-sl h4 {
    background: #5c3411;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px #000;
    display: block;
    color: #fff;
    margin-bottom: 3px;
    letter-spacing: 1px;
    font-weight: 700;
    border: 2px solid white;
    border-radius: .75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, .58, 1), background 150ms cubic-bezier(0, 0, .58, 1);
    border: 2px solid white;
}

.a_27_title,
.banner,
.cm_patti_l h6,
.fg-cont h6,
.matka-result h6,
.my-table.mumraj-sl h6 {
    background: #5c3411;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px #000;
    display: block;
    color: #fff8f8;
    margin-bottom: 3px;
    letter-spacing: 1px;
    font-weight: 700;
    border: 2px solid white;
    border-radius: .75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, .58, 1), background 150ms cubic-bezier(0, 0, .58, 1)
}

.cm_patti_l .aa_55:first-child {
    border-right: 1px solid #006400;
    width: 40%
}

.cm_patti_l .aa_55:last-child {
    width: 60%
}

.matka-result .matka-card.live-box div {
    display: block;
    border-top: 1px solid #5c3411;
    margin-top: 5px;
    padding: 3px 5px;
}

.matka-result .matka-card.live-box div:first-of-type {
    border-top: 0;
    margin-top: 6px;
    padding: 5px 5px 3px;
}

.matka-result .matka-card.live-box div:last-of-type {
    padding: 3px 5px 8px;
}

.matka-card .gn:not(:first-child) {
    display: block;
    border-top: 1px solid #5c3411;
    margin-top: 5px;
}

.matka-card .gn {
    display: block;
    font-size: 22px;
    color: #00094d;
    text-shadow: 1px 1px 2px #fff
}

.matka-card .gr {
    display: block;
    color: #880e4f;
    text-shadow: 1px 1px 2px #ffe2c6;
    font-size: 21px;
    line-height: 1;
    margin: 3px 0
}

.matka-card button,
.refresh_btn {
    border: 1px solid #e6e6e6;
    background: #522f92;
    color: #fff;
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 12px;
    margin: 2px 0 -1px;
    display: inline-block;
    transition: all .3s
}

.matka-card button:hover,
.refresh_btn:hover {
    box-shadow: 0 0 13px 3px #00000033;
    cursor: pointer
}

.para__2.para__2-second {
    margin-bottom: 7px;
    font-size: 16px;
    padding: 7px;
    line-height: 25px;
    background: #5c3411;
    color: white;
    border-radius: .75em;
}

.para__2.para__2-second a {
    color: white;
    color: white;
    border: 2px solid #fff;
    padding: 3px 0px;
    display: block;
    width: 200px;
    margin: auto;
    border-radius: 15px;
    background: #5c3411;
    margin-top: 8px;
}

.para__2.para__2-third {
    margin-bottom: 7px;
    font-size: 16px;
    padding: 7px;
    line-height: 25px;
    color: #b80000;
}

.para__2.para__2-third span:first-child {
    color: #5c3411;
    display: block;
    text-shadow: 0px 0px 5px white;
    font-size: 20px;
    font-weight: bold;
}

.para__2.para__2-third span:nth-child(2),
.para__2.para__2-third span:nth-child(4) {
    color: #011e76;
}

.para__2.para__2-third_1 {
    margin-bottom: 7px;
    font-size:16px;
    padding: 7px;
    line-height: 25px;
    color:#b80000;
}

.para__2.para__2-third_1 span:first-of-type {
    background: #5c3411;
    color:white;
    display: block;
    text-shadow:0px 0px 5px black;
    font-size: 20px;
    font-weight: bold;
}

.para__2.para__2-third_1 span:nth-of-type(2),
.para__2.para__2-third_1 span:nth-of-type(3),
.para__2.para__2-third_1 span:last-of-type {
    color:#011e76;
}

.para__2.para__2-third_1 img:first-of-type {
    width:100%;
    max-width:600px;
}

.para__2.para__2-third_1 a {
    color:#522f92;
}

.para__2.para__2-third_2 {
    margin-bottom: 7px;
    font-size:16px;
    padding: 7px;
    line-height: 25px;
    color:#b80000;
    font-weight: 500;
}

.para__2.para__2-third_2 span:first-of-type {
    color: #ff00a2;
    display: block;
    text-shadow: 0px 0px 5px white;
    font-size: 20px;
    font-weight: bold;
}

.para__2.para__2-fourth {
    padding: 12px;
}

.satta-main-result {
    border-color: #aa00c0;
    margin-bottom: 6px;
}

.paid-gm p,
.satta-main-result div {
    border-bottom: 1px solid #5c3411
}

.satta-main-result div {
    padding: 3px
}

.satta-main-result div:last-child {
    border-bottom-width: 0
}

.satta-main-result h4 {
    font-size: 22px;
    color: #00094d;
    text-shadow: 1px 1px 2px #fff
}

.satta-main-result span {
    margin: 0;
    font-size: 22px;
    line-height: 1;
    background: -webkit-linear-gradient(#4500bf, #670009);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 5px;
}

.satta-main-result p {
    font-size: 15px;
    padding: 2px 0;
    margin-bottom: 0;
    color: #000;
    text-shadow: 1px 1px 2px #ffd9d9
}

.a_27_title.h4 {
    margin-bottom: 6px;
}

.a_27_title.h4 a {
    color: #fff;
}

.about-us a,
.about-us b,
.about-us p,
.disclaimer h2,
.disclaimer p,
.faq a,
.faq h4,
.faq p,
.ftr_sm h2,
.ftr_sm p,
.pby_us {
    font-style: normal
}

.mrque-div {
    display: flex;
    padding: 5px;
    align-items: center
}

.mrque-div img {
    width: 90px;
    height: auto;
    border-radius: 5px
}

.mrque-div marquee {
    color: red;
    font-size: 15px;
    height: 21px;
    display: inline-block
}

.mrque-div p {
    padding: 0 20px;
    color: red
}

.satta-text {
    padding: 5px;
    height: 100px
}

@media only screen and (max-width:500px) {
    .satta-text {
        height: 150px
    }
}

.satta-text h1 {
    font-size: 16px;
    color: #1a237e;
    padding-bottom: 3px
}

.satta-text p {
    color: #444;
    font-size: 14px
}

.conta {
    padding-top: 4px;
    padding-bottom: 7px;
    background-color: #5c3411;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}

.conta p {
    font-size: 22px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
    text-shadow: none;
}

.conta a {
    background: radial-gradient(#ffe500, #ff9800);
    color: #000;
    padding: 5px 8px 2px;
    border-radius: 80px;
    display: inline-block;
    box-shadow: 0 0 10px -3px #000;
    border: 1px solid #006400;
    text-shadow: 1px 1px 2px #fff;
    font-size: 18px
}

.conta a:hover {
    box-shadow: 0 0 10px 0 #000
}

.slash-text {
    color: #000;
    line-height: 1.4;
    font-size: 14px;
    padding: 4px 10px;
    text-shadow: 1px 1px #f4e1e1
}

.yellowbg {
    background-color: #ff0;
    border-bottom: 1px solid #5c3411
}

.paid-gm {
    border-color: #085e58
}

.paid-gm h4 {
    background-color: #085e58;
    color: #fff;
    font-size: 28px;
    padding: 3px 0 4px
}

.paid-gm img {
    border: 2px solid #085e58;
    border-radius: 10px 0 10px 10px;
    width: 250px;
    height: auto;
    margin-top: 4px
}

.paid-gm p {
    padding: 6px 20px;
    text-shadow: 1px 1px 2px #eee
}

.paid-gm .aa,
.paid-gm .bb {
    color: #000;
    font-size: 18px
}

.paid-gm .bb,
.paid-gm .cc,
.paid-gm .dd {
    color: #085e58
}

.paid-gm .cc {
    font-size: 19px
}

.paid-gm .dd {
    font-size: 20px
}

.paid-gm .ee {
    color: #5c3411;
    padding-bottom: 3px;
    font-size: 21px
}

.paid-gm .ff {
    color: #5c3411;
    font-size: 15px
}

.paid-gm .telegram1 {
    border: 2px solid #ff006c;
    background-color: #ff006c;
    color: #fff;
    padding: 3px 7px;
    border-radius: 8px 0;
    box-shadow: 0 0 1px #000000d6;
    font-size: 12px;
    margin: 2px 0 -1px;
    display: inline-block;
    transition: all .3s;
    top: auto;
    position: fixed;
    left: 10px;
    right: auto
}

.btn-hide {
    display: none
}

.gg {
    color: #000;
    font-size: 32px
}

.paid-gm span {
    display: block
}

.my-table {
    margin-bottom: 2px
}

.my-table h4 {
    border: solid 2px #5c3411;
    border-bottom-width: 0;
    padding: 3px 5px 2px;
    font-size: 24px;
    background: #5c3411;
}

.my-table table {
    border-collapse: collapse;
    width: 100%
}

.my-table thead {
    background-color: #fff;
    font-size: 16px
}

.my-table tbody {
    font-size: 16px
}

.my-table td,
.my-table th {
    border: 1px solid #5c3411
}

.my-table td,
.my-table th {
    padding: 2px 0;
    font-size: 15px;
    text-shadow: 1px 1px 2px #fff
}

.my-table th {
    color: #000
}

.my-table tr td:nth-child(2),
.my-table tr td:nth-child(4) {
    color: #0808b2
}

.my-table.cm-sl h4,
.my-table.mr-sl h4 {
    background: #5c3411;
    padding: 5px 10px;
    display: block;
    color: #fff;
    margin-bottom: 3px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: .75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, .58, 1), background 150ms cubic-bezier(0, 0, .58, 1)
}

.blue-container {
    border: 2px solid #1f3092
}

.blue-container h4 {
    background: #5c3411;
    color: #fff;
    border-radius: 10px;
    font-size: 30px;
    padding: 3px 5px;
    text-shadow: 1px 1px 2px #000;
}

.blue-container a:last-child {
    border-bottom-width: 0
}

.blue-container a {
    background-size: 200% auto;
    color: #000;
    font-size: 22px;
    display: block;
    border-bottom: 2px solid #5c3411;
    padding: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: textclip 2s linear infinite;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center
    }
}

.red_list>div {
    border-color: #e71d36
}

.red_list h4 {
    border-radius: 10px;
    color: #fff;
    line-height: 1.1;
    padding: 4px 10px 3px;
    text-shadow: 1px 1px 2px #000;
    font-size: 24px;
    -webkit-animation: changeBackgroundColor 5s infinite;
    animation: changeBackgroundColor 5s infinite;
}

@keyframes changeBackgroundColor {
    0% {
        background-color: #ff019e
    }

    25% {
        background-color: #FFFF00
    }

    50% {
        background-color: #009a07
    }

    75% {
        background-color: #001fad
    }

    100% {
        background-color: #ff019e
    }
}

.red_list p {
    font-size: 18px;
    text-align: center;
    line-height: 1.3
}

.purple_header h6 {
    color: #fff;
    padding: 5px 10px 3px;
    font-size: 24px
}

.purple_header a {
    display: block;
    font-size: 22px;
    padding: 5px 7px 4px
}

.ab1 a {
    border-bottom: 2px solid #5c3411;
    color: #1a237e;
    text-shadow: 1px 1px #d9d9d9
}

.purple_header a:last-child {
    border-bottom-width: 0
}

.ab1 {
    border-color: #5c3411
}

.ab2 a {
    border-bottom: 2px solid #b9005e;
    color: #880e4f;
    text-shadow: 1px 1px 2px #ffe2c6
}

.ab2 {
    border-color: #b9005e
}

.faq h4 {
    color: #d70544;
    font-size: 22px;
    padding: 5px 5px 6px;
    border-top: 1.5px solid #e0557f;
    margin-top: 5px
}

.faq h4:first-child {
    border-top-width: 0;
    margin-top: 0
}

.faq p {
    font-size: 12px;
    padding: 0 5px 15px;
    line-height: 1.4;
    color: #1a1a1a
}

.faq a {
    color: #d70544;
    text-decoration: underline
}

.ftr_sm h2 {
    color: #bb2833;
    text-shadow: 1px 1px 2px #fff
}

@media only screen and (max-width:768px) {
    .faq h4 {
        font-size: 15px
    }
}

.disclaimer h6 {
    font-size: 18px;
    margin-bottom: 15px;
    padding-top: 4px;
    text-shadow: 1px 1px 3px #000
}

.disclaimer p {
    font-size: 13px;
    color: #340d7a;
    padding: 2px 5px 5px;
    line-height: 1.2
}


.ftr_sm {
    padding: 5px
}

.ftr_sm h4 {
    font-size: 18px;
    margin-bottom: 3px;
    color: #d3003f
}

.ftr_sm p {
    color: #a50031;
    font-size: 10px;
    line-height: 1.4
}

.ftr_sm span {
    color: #030303;
    text-shadow: 1px 1px 2px #fff;
    font-size: 18px;
}

.pby_us {
    text-shadow: 1px 1px #f4e1e1;
    color: #000;
    padding-top: 2px;
    padding-bottom: 1px
}

.refresh_btn {
    position: fixed;
    bottom: 9px;
    right: 10px
}

.bdr-b-0 {
    border-width: 0
}

.p-0 {
    padding: 0
}

@media only screen and (max-width:500px) {
    body {
        padding: 2px 5px
    }

    .faq h4 {
        font-size: 15px
    }
}

.result_timing_b,
.result_timing_b_right {
    position: absolute;
    color: #7a028d;
    font-size: 15px;
    padding: 2px 0;
    transform: translateY(-158%);
    border-bottom: none
}

.result_timing_b {
    left: 18px;
    right: auto
}

.result_timing_b_right {
    right: 18px;
    left: auto
}

.result_btn_chart {
    color: #fff;
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 12px;
    margin: 0px 0px 0px;
    display: block;
    transition: all .3s;
    text-shadow: 1px 1px 2px #222;
    margin-top: -6px;
    border: 1px solid #e6e6e6;
    background: #522f92
}

@media(max-width:500px) {
    .result_btn_chart {
        margin: 0px 0px 0px
    }
}

.mb-1 {
    margin-bottom: 3px
}

.p-1 {
    padding: 5px 10px 8px
}

.bdr {
    border: 2px solid #5c3411;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%)
}

.fg-cont h5 {
    font-size: 22px;
    color: #000;
    text-shadow: 1px 1px 2px #fff
}

.fg-cont .fg-main-cont.para__1 .fgzoc_time span {
    font-size: 22px;
    color: #000;
    text-shadow: 1px 1px 2px #fff;
}

.fg-cont .fg_p1 {
    font-size: 22px
}

.fg-cont .fg_c1>div {
    border: 2px solid #008906;
    border-radius: 10px;
    margin: 5px 0;
    padding: 5px
}

.fg-cont .fg_c1 .fg_p2 {
    text-shadow: 1px 1px 0 #fff;
    letter-spacing: 1px
}

.fg-cont .fg_c1 .fg-p3 {
    font-size: 22px;
    color: #080808;
    text-shadow: 1px 1px 2px #ffe2c6
}

.fg-cont .fg_c1 .fg_p4 {
    font-size: 20px
}

.login-container {
    margin: 0 0 0;
    padding: 6px 30px;
    margin-bottom: 10px
}

.login-container a {
    border-radius: 5px;
    font-size: 14px
}

.login-container a:nth-child(2),
.nnbp8 {
    margin: 0 10px
}

@media only screen and (max-width:500px) {
    .login-container {
        display: block
    }

    .login-container a {
        display: block;
        margin: 10px 0
    }

    .conta p {
        display: block;
        font-size: 17px
    }

    .conta {
        display: block
    }

    .conta a {
        margin-top: 5px
    }
}

.fg_c1 {
    width: 50%;
    display: inline-block;
    padding: 5px;
    border-color: #5c3411;
    border-style: solid
}

.fg-cont .fg_c1 .fg_p2 {
    background: #5c3411;
    font-size: 22px;
    margin-bottom: 3px;
    padding: 7px 0 7px;
    color: #fff;
    text-shadow: 1px 1px 2px red;
    border-radius: 10px;
}

.fg-cont .fg_c1 .fg_p4 {
    font-size: 20px;
    line-height: 24px
}

p.time {
    text-align: left;
    color: #444;
    margin-left: 10px
}

p.betting {
    color: #ff0;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000
}

.paa_3 {
    border-radius: 10px;
    border: 2px solid #5c3411;
    border-style: outset;
    margin: 10px 0;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
    text-shadow: 1px 1px 2px #fff;
    padding: 10px
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 3px 10px;
    margin: 4px 0 1px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.fg-main-cont.para__1.bdr.mb-1.p-1 {
    padding: 0
}

.fg-main-cont.para__1.bdr.mb-1.p-1 * {
    font-style: normal
}

.fgzoc_time {
    width: 99%;
    border: 2px solid #5c3411;
    margin: 5px 5px 0;
    border-radius: 10px
}

@media only screen and (max-width:600px) {
    .fg-cont .fg_c1 .fg_p2 {
        font-size: 14px;
    }

    .fg-cont .fg_c1 .fg_p4 {
        font-size: 12px;
        line-height: 20px
    }
}

.card-code-1212 {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    overflow: hidden
}

.fg_c1:nth-child(odd) {
    border-width: 0 1px 2px 2px;
    margin: 0;
    border-radius: 0
}

.fg_c1:nth-child(even) {
    border-width: 0 2px 2px 1px;
    margin: 0;
    border-radius: 0
}

.card-code-1212 .fg_c1:nth-child(1),
.card-code-1212 .fg_c1:nth-child(2) {
    border-top-width: 2px
}

.faq {
    border: 2px solid #003db6;
    border-radius: 10px;
    width: calc(100% - 8px);
    padding: 3px 0;
    margin: 5px auto 5px;
    width: auto;
    display: block;
    max-height: 200px;
    overflow: auto;
}

.faq p {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    font-style: normal;
    padding: 0 10px 5px;
    text-transform: capitalize;
    opacity: .9
}

.faq a {
    color: #d70544;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none
}

.my-checkbox {
    position: fixed;
    top: 0;
    left: -9999px;
    visibility: hidden
}

.faq label {
    cursor: pointer;
    text-transform: uppercase;
    color: #0013a5;
    text-shadow: 1px 1px 2px #fff;
    font-weight: 800;
    font-size: 17px;
    padding: 3px 0;
    display: block
}

.faq label+div {
    height: 0;
    overflow: hidden;
    transition: all .3s;
    padding: 0
}

.faq label+div {
    height: auto
}

.faq .faq_card {
    border-top: 1.5px solid #5c3411
}

.faq .faq_card.aabbcc {
    border-top: 0 solid #5c3411
}

@media only screen and (max-width:500px) {
    .faq label {
        font-size: 15px
    }
}

@media only screen and (max-width:375px) {
    .faq label {
        font-size: 13px
    }
}

@media only screen and (max-width:320px) {
    .faq label {
        font-size: 11px
    }
}

.mp_btn {
    position: fixed;
    bottom: 9px;
    left: 5px;
    padding: 5px 8px;
    font-size: 15px;
    border: 1px solid #fff;
    text-decoration: none;
    background-color: #039;
    color: #fff;
    border-radius: 5px
}

.btm_btn_f {
    background: linear-gradient(45deg, navy, #005780);
    border: 1px solid #fff;
    font-size: 14px;
    border-radius: 5px;
    padding: 6px 11px 5px;
    transition: all .3s ease-in
}

.btm_btn_f:hover {
    border: 1px solid #011481;
    background: #fff;
    box-shadow: 0 0 13px 3px #00000033;
    cursor: pointer;
    color: navy;
    background: linear-gradient(45deg, #fff, #dbdbdb)
}

.let-rock {
    border: 2px solid #5c3411;
    border-radius: 10px;
    font-style: normal;
    padding: 3px 0;
    margin: 5px auto 5px;
    width: auto;
    display: block;
    font-weight: 600;
    font-family: roboto, sans-serif;
    height: 200px;
    overflow-y: scroll
}

.let-rock .t-rock {
    cursor: pointer;
    text-transform: uppercase;
    color: #0013a5;
    text-shadow: 1px 1px 2px #fff;
    font-weight: 800;
    font-size: 17px;
    padding: 4px 0 3px;
    border-top: 1.5px solid #5c3411;
    margin-top: 8px;
    font-style: italic;
    font-weight: 700
}

.let-rock p {
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 0;
    color: #000;
    padding-bottom: 0
}

.let-rock a {
    color: #00008B
}

.let-rock i {
    margin: 5px 0;
    display: block;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 7px;
    color: #000;
    padding-bottom: 0;
    text-shadow: 1px 1px #f4e1e1
}

.let-rock ul {
    text-align: left;
    padding: 0 10px;
    list-style: none;
    font-size: 13px;
    margin-bottom: 0;
    margin: 0 10px 0;
    color: #000;
    text-shadow: 1px 1px #f4e1e1;
    border: 1px solid #5c3411;
    border-radius: 5px;
    margin-bottom: 12px
}

.let-rock li {
    margin: 7px 0
}

.t-0 {
    margin-top: 0;
    border-top: 0
}

.grren-list-bg-change {
    animation: changeBackgroundColor 5s infinite;
    border-radius: 10px;
    color: #fff;
    line-height: 1.1;
    padding: 4px 10px 3px;
    text-shadow: 1px 1px 2px #000;
    font-size: 24px;
}

.grren-list-bg-change h3 {
    font-size: 22px;
}

.grren-list-bg-change a {
    color: white;
}

.cm-sl h4::before {
    background: none;
}

.mr-sl h4::before {
    background: none;
}

.mumraj-sl h4::before {
    background: none;
}

.cm-sl h4 {
    margin-bottom: 0px
}

.mr-sl h4 {
    margin-bottom: 0px
}

.mumraj-sl h4 {
    margin-bottom: 0px
}

.marquee {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 5px;
    height: 40px;
}

.marquee p {
    animation: marquee 10s linear infinite;
    font-size: 16px;
    margin-top: 20px;
}

.marquee p:hover {
    animation-play-state: paused;
}

@-moz-keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -100%);
    }
}

@-webkit-keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -100%);
    }
}

@keyframes marquee {
    0% {
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -moz-transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }
}

.mp_btn_2nd {
    position: fixed;
    bottom: -7px;
    padding: 5px 8px;
    font-size: 15px;
    border: 1px solid #fff;
    text-decoration: none;
    background-color: #039;
    color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 300px) {
    .mp_btn_2nd {
        display: none;
    }
}



.new_table_add {
    border: #fff solid 2px;
    text-align: center;
    margin-top: 2px
}

.ntah {
    font-size: 25px;
    background-color: #5c3411;
    color: #fff
}

.ntah_blue_sec {
    font-size: 1.2em;
    font-weight: bold;
    color: #5c3411
}

.ntah_red_sec {
    font-size: 2em;
    font-weight: bold;
    color: #f51111
}

.new_table_add td {
    border: 1px solid #5c3411
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.live-alert {
    font-size: 20px;
    padding: 5px;
    color: black;
    display: block;
}

.live-box p {
    font-size: 14px;
    padding-top: 5px;
    color: black;
    text-shadow: none;
}

.install-btn {
    background: #8a000c;
    color: white;
    padding: 6px 10px;
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    font-size: 13px;
}

.crickliveline_img {
    border-radius: 10px;
    max-width: 500px;
    display: block;
    margin: auto;
    width: 100%;
    padding: 5px;
}

.live-alert {
    font-size: 20px;
    padding: 5px;
    color: black;
    display: block;
}

.live-box p {
    font-size: 14px;
    padding-top: 5px;
    color: black;
    text-shadow: none;
}

.install-btn {
    background: #8a000c;
    color: white;
    padding: 6px 10px;
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    font-size: 13px;
}

.crickliveline_img {
    border-radius: 10px;
    max-width: 500px;
    display: block;
    margin: auto;
    width: 100%;
    padding: 5px;
}